Repository placetopay-org/placetopay-docs, pull requests merged in 2024-12, with the labels that each got.

#167 Feature/ add docs payments link section
  package-lock.json
  public/Checkout_page_returnurl.webp
  public/Checkout_page_view.webp
  public/Checkout_page_view1.webp
  public/Checkout_page_view2.webp
  public/Create_link.webp
  public/Create_link2.webp
  public/Create_link3.webp
  public/Create_link4.webp
  public/Delete_link.webp
  public/Email_link.webp
  public/Email_pay.webp
  public/Enter_link.webp
  public/Login_inic.webp
  public/Payment_view.webp
  public/Payments/searchPaymentLink.webp
  public/Qr_link.webp
  public/Share_link.webp
  public/Summary_link_create.webp
  public/Url_link.webp
  public/View_pay_links.webp
  public/Wp_link.webp
  src/components/Benefitspaymentlink.jsx
  src/components/CenteredContainer.jsx
  src/components/ImageZoom.jsx
  src/components/Note.jsx
  src/components/mdx.jsx
  src/constants/navigations.js
  src/pages/_app.jsx
  src/pages/checkout/how-checkout-works.mdx
  src/pages/en/payments/payments-links/create-payment-link.mdx
  src/pages/en/payments/payments-links/introduction.mdx
  src/pages/en/payments/payments-links/link-management.mdx
  src/pages/en/payments/payments-links/process-pay.mdx
  src/pages/payments/payments-links/create-payment-link.mdx
  src/pages/payments/payments-links/introduction.mdx
  src/pages/payments/payments-links/link-management.mdx
  src/pages/payments/payments-links/process-pay.mdx
Labels: documentation

#172 feat: adds library for python integration
  src/components/Libraries.jsx
Labels: documentation

#170 docs: improve ach-bank-debit
  src/pages/en/payments/ach-bank-debit.mdx
  src/pages/payments/ach-bank-debit.mdx
Labels: Payments

#164 Feature/add docs to integrate aval button
  src/assets/apis/gateway/en.yaml
  src/assets/apis/gateway/es.yaml
  src/pages/en/gateway/api/reference/information.mdx
  src/pages/en/gateway/api/reference/transaction.mdx
  src/pages/gateway/api/reference/information.mdx
  src/pages/gateway/api/reference/transaction.mdx
Labels: Api -Gateway

#145 Feature/PT-4394 updating MPI Contracts for 3DS Version 2x
  src/assets/apis/gateway/en.yaml
  src/assets/apis/gateway/es.yaml
  src/assets/apis/three-d-s-server/en.yaml
  src/assets/apis/three-d-s-server/es.yaml
  src/components/ApiReader.jsx
  src/pages/en/gateway/api/reference/3ds.mdx
  src/pages/gateway/api/reference/3ds.mdx
Labels: Api - 3DS
