Repository placetopay-org/placetopay-docs, pull requests merged in 2024-11, with the labels that each got.

#140 docs: update changelog api webcheckout 2.23.0
  src/pages/checkout/api/changelog.mdx
  src/pages/en/checkout/api/changelog.mdx
Labels: docs - Changelog

#136 docs: add payment section
  package-lock.json
  src/components/Benefits.jsx
  src/components/ResourceCard.jsx
  src/components/SelectMenu.jsx
  src/constants/navigations.js
  src/hooks/useNavigation.jsx
  src/pages/en/index.mdx
  src/pages/en/payments/ach-bank-debit.mdx
  src/pages/en/payments/index.mdx
  src/pages/index.mdx
  src/pages/payments/ach-bank-debit.mdx
  src/pages/payments/index.mdx
Labels: Payments

#141 fix: example endpoint collect
  src/pages/checkout/api/reference/token.mdx
  src/pages/en/checkout/api/reference/token.mdx
Labels: Api Web Checkout

#132 docs: add type filter in report rest services
  src/assets/apis/gateway/en.yaml
  src/assets/apis/gateway/es.yaml
  src/pages/en/gateway/api/reference/report.mdx
  src/pages/gateway/api/reference/report.mdx
Labels: Api -Gateway

#139 Docs/payments integrations transaction modifiers
  src/constants/navigations.js
  src/pages/en/payments/integrations/transaction-modifiers.mdx
  src/pages/payments/integrations/transaction-modifiers.mdx
Labels: Payments

#142 3dss doc
  package-lock.json
  src/pages/en/three-d-s-server/api/integration/session-b-m-e.mdx
  src/pages/three-d-s-server/api/integration/session-b-m-e.mdx
Labels: Api - 3DS

#134 add description properies credit in processor fielsd
  src/constants/navigations.js
  src/pages/checkout/processor-fields.mdx
  src/pages/en/checkout/processor-fields.mdx
  src/pages/en/gateway/additional-data.mdx
  src/pages/gateway/additional-data.mdx
Labels: Api Web Checkout

#146 feat: edits token and subtoken values
  src/assets/apis/checkout/en.yaml
  src/assets/apis/checkout/es.yaml
  src/assets/apis/gateway/en.yaml
  src/assets/apis/gateway/es.yaml
Labels: Api Web Checkout, Api -Gateway

#152 Feature/api webcheckout skip result
  src/constants/navigations.js
  src/pages/checkout/skip-result.mdx
  src/pages/en/checkout/skip-result.mdx
Labels: Api Web Checkout

#154 feat: adds details in the skipResult scheme
  src/assets/apis/checkout/en.yaml
  src/assets/apis/checkout/es.yaml
Labels: Api Web Checkout
