Repository placetopay-org/placetopay-docs, pull requests merged in 2025-02, with the labels that each got.

#195 Feature/pt 9354 cero pay payment
  src/constants/navigations.js
  src/images/cards/ceropay.svg
  src/images/cards/click_to_pay.svg
  src/pages/en/payments/ach-bank-debit.mdx
  src/pages/en/payments/ceropay.mdx
  src/pages/en/payments/clicktopay.mdx
  src/pages/payments/ach-bank-debit.mdx
  src/pages/payments/ceropay.mdx
  src/pages/payments/clicktopay.mdx
Labels: documentation, Payments

#180 Add CeroPay documentation
  src/assets/apis/gateway/en.yaml
  src/assets/apis/gateway/es.yaml
  src/pages/en/gateway/api/reference/information.mdx
  src/pages/en/gateway/api/reference/transaction.mdx
  src/pages/gateway/api/reference/information.mdx
  src/pages/gateway/api/reference/transaction.mdx
Labels: Api -Gateway

#198 Feature/pt 9000 cash payment
  src/components/CashIcons.jsx
  src/constants/navigations.js
  src/images/cash/ath.svg
  src/images/cash/aval.svg
  src/images/cash/b_av.svg
  src/images/cash/b_bancolombia.svg
  src/images/cash/b_bbva.svg
  src/images/cash/b_bogota.svg
  src/images/cash/b_davivienda.svg
  src/images/cash/b_occidente.svg
  src/images/cash/carulla.svg
  src/images/cash/efecty.svg
  src/images/cash/exito.svg
  src/images/cash/gana.svg
  src/images/cash/super_giros.svg
  src/images/cash/super_inter.svg
  src/images/cash/surtimax.svg
  src/images/cash/western_union.svg
  src/pages/checkout/expiration.mdx
  src/pages/en/payments/cash.mdx
  src/pages/payments/cash.mdx
Labels: documentation, Payments

#210 feat: add security policy informaction in the lightbox page
  src/pages/checkout/lightbox.mdx
  src/pages/en/checkout/lightbox.mdx
Labels: documentation, lightbox

#209 Documentation/ebt payment method
  public/en/payments/pm-ebt-flow.webp
  public/payments/pm-ebt-flow.webp
  src/assets/apis/checkout/en.yaml
  src/assets/apis/checkout/es.yaml
  src/assets/apis/gateway/en.yaml
  src/assets/apis/gateway/es.yaml
  src/components/Flags.jsx
  src/components/PaymentMethods.jsx
  src/constants/navigations.js
  src/pages/checkout/api/changelog.mdx
  src/pages/en/checkout/api/changelog.mdx
  src/pages/en/payments/bank-redirects/ach-bank-debit.mdx
  src/pages/en/payments/bank-redirects/ceropay.mdx
  src/pages/en/payments/cards/ebt.mdx
  src/pages/en/payments/cash/cash.mdx
  src/pages/en/payments/wallets/clicktopay.mdx
  src/pages/payments/bank-redirects/ach-bank-debit.mdx
  src/pages/payments/bank-redirects/ceropay.mdx
  src/pages/payments/cards/ebt.mdx
  src/pages/payments/cash/cash.mdx
  src/pages/payments/wallets/clicktopay.mdx
Labels: documentation, Payments
