Repository placetopay-org/placetopay-docs, pull requests merged in 2025-04, with the labels that each got.

#237 feat: update preauthorization payment docs
  src/pages/checkout/create-session.mdx
  src/pages/en/checkout/create-session.mdx
Labels: Api Web Checkout

#236 Feature/improves payment methods flags
  package-lock.json
  package.json
  src/components/Flags.jsx
  src/components/icons/flagpack/CL.jsx
  src/components/icons/flagpack/CO.jsx
  src/components/icons/flagpack/CR.jsx
  src/components/icons/flagpack/EC.jsx
  src/components/icons/flagpack/HN.jsx
  src/components/icons/flagpack/MX.jsx
  src/components/icons/flagpack/PR.jsx
  src/components/icons/flagpack/US.jsx
  src/components/icons/flagpack/index.js
  src/pages/en/payments/bank-redirects/ach-bank-debit.mdx
  src/pages/en/payments/bank-redirects/ceropay.mdx
  src/pages/payments/bank-redirects/ach-bank-debit.mdx
  src/pages/payments/bank-redirects/ceropay.mdx
Labels: documentation, Payments

#144 Docs/webhooks in ach return
  src/constants/navigations.js
  src/pages/en/gateway/notification.mdx
  src/pages/en/gateway/webhooks.mdx
  src/pages/en/payments/bank-redirects/ach-bank-debit.mdx
  src/pages/gateway/notification.mdx
  src/pages/gateway/webhooks.mdx
  src/pages/payments/bank-redirects/ach-bank-debit.mdx
Labels: Payments
